<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.dao.SysLogMapper">
  <resultMap id="BaseResultMap" type="com.person.entity.SysLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="crTime" jdbcType="TIMESTAMP" property="crtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, content, operation, crTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.person.entity.SysLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_log (uid, content, operation, 
      crTime)
    values (#{uid,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{operation,jdbcType=VARCHAR}, 
      #{crtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.person.entity.SysLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="crtime != null">
        crTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="crtime != null">
        #{crtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.person.entity.SysLog">
    update sys_log
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="crtime != null">
        crTime = #{crtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.person.entity.SysLog">
    update sys_log
    set uid = #{uid,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      crTime = #{crtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.person.entity.SysLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="crTime" jdbcType="TIMESTAMP" property="crtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, content, operation, crTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.person.entity.SysLog">
    insert into sys_log (id, uid, content, 
      operation, crTime)
    values (#{id,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, 
      #{operation,jdbcType=VARCHAR}, #{crtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.person.entity.SysLog">
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="crtime != null">
        crTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="crtime != null">
        #{crtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.person.entity.SysLog">
    update sys_log
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="crtime != null">
        crTime = #{crtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.person.entity.SysLog">
    update sys_log
    set uid = #{uid,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      crTime = #{crtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.person.entity.SysLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="operation" jdbcType="VARCHAR" property="operation" />
    <result column="crTime" jdbcType="TIMESTAMP" property="crtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, content, operation, crTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.person.entity.SysLog">
    insert into sys_log (id, uid, content, 
      operation, crTime)
    values (#{id,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, 
      #{operation,jdbcType=VARCHAR}, #{crtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.person.entity.SysLog">
    insert into sys_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="crtime != null">
        crTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="crtime != null">
        #{crtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.person.entity.SysLog">
    update sys_log
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="operation != null">
        operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="crtime != null">
        crTime = #{crtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.person.entity.SysLog">
    update sys_log
    set uid = #{uid,jdbcType=BIGINT},
      content = #{content,jdbcType=VARCHAR},
      operation = #{operation,jdbcType=VARCHAR},
      crTime = #{crtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>